#flash-messages {
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 1000;
}

#flash-messages .alert {
    width: 200px;
    background-color: black;
    background-color: rgba(30, 30, 30, 0.9);
    text-shadow: 1px 1px black;
    color: #eee;
    padding: 8px 35px 8px 65px;
    box-shadow: 4px 3px 15px rgba(0,0,0,0.9);
    border: 0;
    background-repeat: no-repeat;
    background-position: 15px 50%;
    display: none;
    z-index: 1000;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 20px;
}


#flash-messages .alert.alert-success {
    background-image: url('../images/alert-valid-icon.png');
}

#flash-messages .alert.alert-error {
    background-image: url('../images/alert-error-icon.png');
}

#flash-messages .alert .close {
    color: white;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 1px 0 #000;
    opacity: 1;
    line-height: 20px;
    position: relative;
    right: -21px;
    top: -2px;
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    padding: 0;
    float: right;
    font-size: 20px;
    font-weight: bold;
}
